# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Node
node_modules/
frontend/dist/

# Envs
.env
backend/.env
frontend/.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Data uploads
backend/data/uploads/*
!backend/data/uploads/.gitkeep
