version: '3.9'

services:
  backend:
    build:
      context: ./backend
    container_name: mini_bi_backend
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/data:/app/data
    ports:
      - '8000:8000'
    depends_on:
      - ollama

  frontend:
    build:
      context: ./frontend
    container_name: mini_bi_frontend
    ports:
      - '5173:5173'
    depends_on:
      - backend

  ollama:
    image: ollama/ollama:latest
    container_name: mini_bi_ollama
    ports:
      - '11434:11434'
    volumes:
      - ollama_data:/root/.ollama

volumes:
  ollama_data:
